.paginator {
  display: flex;
  padding: 10px;
}
.selectedPage {
  color: red;
  font-weight: bold;
  cursor: pointer;
  padding: 3px;
}
.page {
  padding: 3px;
  cursor: pointer;
}
.page:hover {
  color: white;
  font-weight: bold;
}
