.nav {
  grid-area: n;
  background-color: greenyellow;
  padding: 10px;
}
.item {
  color: blue;
}
.item a {
  text-decoration: none;
}
.active {
  color: gold;
}
.friendsTitle {
  text-align: center;
}
.friends {
  display: flex;
}
